.btn-maxaddot {
    box-shadow: black 0px 0px 5px -2px;
    border-radius: 40%;
    padding: 8px;
}

// 'btn-oncology':color=='skyblue' && navigationPaneData.currentSection === sectionIndex,
// 'btn-immuno':color=='navyblue' && navigationPaneData.currentSection === sectionIndex,
// 'btn-ddr':color=='yellow' && navigationPaneData.currentSection === sectionIndex

.btn-skyblue.active{
    background-color: #16becf; 
}
.btn-navyblue.active{
    background-color: #522E91;
}
.btn-yellow.active{
    background-color: #FFCB05;
}

.btn-disabled{
    opacity: .25;
    filter: grayscale(100%);

}

