:host {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.test-bg{
  background-image: url(../../../assets/home-page-elements/immuno-onc-bg.png);
}

.card-body ul.list-group li.list-group-item{
  border-bottom: 1px solid rgba(0,0,0,.125);
  &:nth-child(4) {
    border-bottom: none;
  }
}

header {
  margin-bottom: 4rem;
  text-align: center;

  h1 {
    font-size: 2.813rem;
    margin-bottom: 0; 
  }

  p {
    font-size: 1.875rem;
  }
}

.btn-video {
  color: #000;
  font-size: 1.438rem;
  height: 574px;
  line-height: 1.3;
  position: relative;
  text-align: center;
  width: 445px;

  > * {
    position: absolute;
  }

  img {
    display: block;
    margin: 0 auto;
  }

  span {
    bottom: 5.875rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }
}

.w-footer {
  margin-top: 4.688rem;

  &-inner {
    width: 250px;

    p {
      font-size: 1.25rem;
      margin-top: 1.25rem;
      text-align: right;
    }
  }
}
