#video-player{
    // trying to deal with the player pushing bottom down.
    max-height: 87%;
}

.playpause {
    background-repeat:no-repeat;
    width:50%;
    height:30%;    
    position:absolute;
    left:0%;
    right:0%;
    top:0%;
    bottom:0%;
    margin: auto;
    background-size:contain;
}

.round-bg{
    background-color: rgb(82, 46, 145);
    border-radius: 150px;
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto
}

.arrow{
    top: 25px;
    left: 58px;
    position: relative;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 0 50px 51px;
    border-color: transparent transparent transparent #ffffff;

}
