<div class="container-fluid background_merckDetail">
    <div class="row justify-content-between p-5 ml-1">
        <div>
            <h1 class="merckFont colouroncology">Merck</h1>
        </div>
        <div class="d-flex">
            <div class="positionhead pt-2 pr-4 border_home">
                <h2 class="merckFont colouroncology">IMMUNO-ONCOLOGY</h2>
            </div>
            <div class="positionhome pl-4">
                <a [routerLink]="'/'"> <img src="assets/buttons/home-btn.png"
                        alt="Home"
                        height="50"
                        width="50"></a>
            </div>
        </div>
    </div>
    <ng-container [ngSwitch]="navigationHolder.currentSection">
        <ng-container *ngSwitchCase="0">
            <div class="main-content">
                <div class="row">
                    <div class="col-12">
                        <h2 class="colouroncology color-title mb-4"><b>Abituzumab</b>
                            <br> (pan-αv integrin inhibiting mAb)</h2>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <p class="font-weight-bold f-16 mt-4 pl-4"> Proposed profile</p>
                        <ul class="small-li">
                            <li>Abituzumab (EMD 525797) is a humanized IgG2 mAb designed to act against αv
                                <br>integrins<sup>1</sup>
                                <div class="pl-2 ">
                                    ─ Designed to bind to the extracellular
                                    domain of αv integrins and perturbs their cellular interactions<sup>2,3</sup>
                                </div>
                            </li>

                            <li>A first-in-man, randomized, double-blind, placebo-controlled study in healthy
                                <br>volunteers reported no safety concerns and abituzumab was well tolerated<sup>1</sup>
                            </li>
                            <li>After phase I studies demonstrating a favorable safety profile,<sup>4,5</sup> randomized
                                phase II trials in prostate cancer and CRC were initiated</li>
                        </ul>

                        <div class="pr-2">
                            <p class="font-weight-bold f-16 pl-4"> Phase II studies: </p>
                            <ul>
                                <li>PERSEUS: monotherapy in 1L mCRPC (<i>NCT01360840</i>)</li>
                                <li>AMELION: abituzumab with cetuximab and FOLFIRI in 1L <i>RAS</i> wildtype, left-sided
                                    mCRC with high αvβ6 expression (<i>NCT03688230</i>)</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="pl-2 text-center">
                            <img src="assets/content/IMMUNO-ONCO/abituzumab-moa.png"
                                width="580px">
                        </div>
                    </div>

                </div>
            </div>
            <nav>
                <div class="col-12">
                    <div class="d-flex justify-content-center mt-4">
                        <navigation-footer [navigationPanes]="navigationHolder"></navigation-footer>
                    </div>
                </div>
            </nav>


            <div class="row pt-5 pl-4">
                <div class="col-12 needs-row-parent-pt-5-pl-4 ">
                    <div class="d-flex justify-content-between footer-disclaimers">
                        <div class="p-2 f-10 text-dark">
                            <app-pipeline-compounds></app-pipeline-compounds>
                            *Abituzumab (EMD 525797) is an investigational agent and is not approved by
                            Regulatory Authorities in any jurisdiction for any use.<br> 1. Uhl W, et al. Invest New
                            Drugs 2014;32:347-354. 2. Goodman SL, et al. Trends Pharmacol Sci
                            2012;33(7):405-12. 3. Mitjans F, et al. J Cell Sci 1995;108(pt 8):2825-2838. 4. Wirth M, et
                            al. Eur Urol 2014;65(5):897-904. 5. Elez E, et al. Ann Oncol 2015;26:132-140.<br> Figure
                            taken from Wirth M, et al. J Clin Oncol 2012;30(suppl
                            5):Abstract 231 and poster (ASCO GU 2012)
                        </div>
                        <div class="p-2 f-10 text-dark d-flex align-items-end zinc-code">GBPMLR/MULOP/0819/0016
                            September 2019
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-container *ngSwitchCase="1">
            <!-- Section 2 -->
            <div class="main-content">
                <div class="row">
                    <div class="col-12">
                        <h2 class="colouroncology color-title mb-4"><b>Abituzumab</b>
                            <br> (pan-αv integrin inhibiting mAb)</h2>
                    </div>
                    <div class="col-12">
                        <p class="font-weight-bold f-16"> Clinical trial program overview</p>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead class="btn-immuno text-white">
                                    <tr>
                                        <th class="ImageColumn">Enrolling</th>
                                        <th>Clinical Trial</th>
                                        <th>Line </th>
                                        <th>Phase</th>
                                        <th>Abituzumab Treatment</th>
                                        <th>ClinicalTrials.gov Identifier</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="bg-white">
                                        <td></td>
                                        <td colspan="5"
                                            class="font-weight-bold text-black">Prostate cancer</td>
                                    </tr>
                                    <tr class="bg-light">
                                        <td class="ImageColumn"><img src="assets/indicators/study-closed.png"
                                                width="25"
                                                height="25"></td>
                                        <td>CRPC with bone metastases</td>
                                        <td>2L+</td>
                                        <td>Phase I</td>
                                        <td>Monotherapy</td>
                                        <td>NCT00958477</td>
                                    </tr>
                                    <tr class="bg-white">
                                        <td class="ImageColumn"><img src="assets/indicators/study-closed.png"
                                                width="25"
                                                height="25"></td>
                                        <td><b>PERSEUS:</b> mCRPC</td>
                                        <td>1L</td>
                                        <td>Phase II</td>
                                        <td>Monotherapy</td>
                                        <td>NCT01360840</td>
                                    </tr>
                                    <tr class="bg-light">
                                        <td></td>
                                        <td colspan="5"
                                            class="font-weight-bold text-black">Colorectal cancer</td>
                                    </tr>
                                    <tr class="bg-white">
                                        <td class="ImageColumn"><img src="assets/indicators/study-closed.png"
                                                width="25"
                                                height="25"></td>
                                        <td><b>POSEIDON:</b> KRAS WT mCRC</td>
                                        <td>2L+</td>
                                        <td>Phase I/II</td>
                                        <td>Combination with<br> cetuximab + irinotecan</td>
                                        <td>NCT01008475</td>
                                    </tr>
                                    <tr class="bg-light">
                                        <td class="ImageColumn"><img src="assets/indicators/study-closed.png"
                                                width="25"
                                                height="25"></td>
                                        <td><b>AMELION:</b> RAS WT, left-sided mCRC with high αvβ6 expression</td>
                                        <td>1L</td>
                                        <td>Phase II</td>
                                        <td>Combination with <br> cetuximab + FOLFIRI</td>
                                        <td>NCT03688230</td>
                                    </tr>
                                    <tr class="bg-white">
                                        <td></td>
                                        <td colspan="5"
                                            class="font-weight-bold text-black">Solid tumors</td>
                                    </tr>
                                    <tr class="bg-light">
                                        <td class="ImageColumn"><img src="assets/indicators/study-closed.png"
                                                width="25"
                                                height="25"></td>
                                        <td>CRC and OC with liver metastases</td>
                                        <td>2L+</td>
                                        <td>Phase I</td>
                                        <td>Monotherapy</td>
                                        <td>NCT00848510</td>
                                    </tr>
                                    <tr class="bg-white">
                                        <td class="ImageColumn"><img src="assets/indicators/study-closed.png"
                                                width="25"
                                                height="25"></td>
                                        <td>Solid tumors – Japan</td>
                                        <td>Any</td>
                                        <td>Phase I</td>
                                        <td>Monotherapy</td>
                                        <td>NCT01327313</td>
                                    </tr>
                                </tbody>
                            </table>


                            <div class="d-flex justify-content-end">
                                <img src="assets/indicators/study-recruiting.png"
                                    width="25"
                                    height="25"
                                    title="Study currently recruiting"> <span class="f-14"> &nbsp;&nbsp; Study currently
                                    recruiting &nbsp;&nbsp; </span><img src="assets/indicators/study-closed.png"
                                    width="25"
                                    height="25"
                                    title="Study closed for enrollment"> <span class="f-14">
                                    &nbsp;&nbsp; Study closed for enrollment&nbsp;&nbsp;</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <nav>
                <div class="col-12">
                    <div class="d-flex justify-content-center mt-4">
                        <navigation-footer [navigationPanes]="navigationHolder"></navigation-footer>
                    </div>
                </div>
            </nav>

            <!-- Footer -->
            <div class="row pt-5 pl-4">
                <div class="col-12 needs-row-parent-pt-5-pl-4">
                    <div class="d-flex justify-content-between footer-disclaimers">
                        <div class="p-2 f-10 text-dark">
                            <app-pipeline-compounds></app-pipeline-compounds>

                            Abituzumab in SSC-ILD (NCT02745145) was terminated because of low recruitment rate of
                            patients and due to a change in focus of the study.
                        </div>
                        <div class="p-2 f-10 text-dark d-flex align-items-end zinc-code">GBPMLR/MULOP/0819/0016
                            September 2019
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </ng-container>
</div>