.table.trial-table {
  border: solid 1px #000;
  font-size: 1rem;
  td,
  th {
    border: none;
    padding: 0.5rem;
  }

  tr td:first-child {
    border-right: solid 1px #000;
  }

  .section-header {
    border-top: solid 1px #000;
  }
}

.table-bg-blue {
  background-color: #0070c0;
}

.table-bg-green {
  background-color: #a4cd50;
}

.table-bg-yellow {
  background-color: #ffc000;
}

.table-bg-pink {
  background-color: #ea3b96;
}

.table-bg-red {
  background-color: #ff0000;
}

.table-bg-gray {
  background-color: #f2f2f2;
}

.table-bg-trial-open {
  background: url('assets/images/icon-trial-open.png') no-repeat center;
}

.table-bg-trial-closed {
  background: url('assets/images/icon-trial-closed.png') no-repeat center;
}

.legend-open {
  padding-right: 12px;
}

.category-icon {
  position: absolute;
  top: 0;
  left: 2px;
}

.dna-text-blue {
  color: #0000CC;
}

.dna-text-purple {
  color: #7030A0;
}

.dna-text-dark-purple {
  color: #860E4B;
}

.dna-img {
  margin-bottom: 50px;
  margin-top: -150px;
  padding-right: 119px;
}
