$primary: #503291;
$primary-accent: #dad0ef;

$body-color: #000;

$purple: #522e91;

$font-family-base: 'Verdana', 'Helvetica Rounded', Arial, sans-serif;
//$headings-font-family: 'Verdana', 'Helvetica Rounded', Arial, sans-serif;

$modal-content-bg: transparent;
$modal-backdrop-bg: $purple;
$modal-backdrop-opacity: 0.8;
$modal-header-border-width: 0;
$modal-footer-border-width: 0;
$modal-xl: 1160px;
