.btn-maxaddot {
    box-shadow: black 0px 0px 8px -2px;
}

.playpause {
    // background-image:url(http://png-4.findicons.com/files/icons/2315/default_icon/256/media_play_pause_resume.png);
    background-repeat:no-repeat;
    width:50%;
    height:30%;    
    // height:50%;

    position:absolute;
    left:0%;
    right:0%;
    top:0%;
    bottom:0%;
    margin: auto;
    background-size:contain;
    // background-position: center; 
}

.round-bg{
    background-color: rgb(82, 46, 145);
    border-radius: 150px;
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto
}

.arrow{
    top: 25px;
    left: 58px;
    position: relative;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 0 50px 51px;
    border-color: transparent transparent transparent #ffffff;

}