<div class="container-fluid background_merckDetail">
    <div class="row justify-content-between p-5 ml-1">
        <div>
            <h1 class="merckFont colouroncology">Merck</h1>
        </div>
        <div class="d-flex">
            <div class="positionhead pt-2 pr-4 border_home">
                <h2 class="merckFont colouroncology">IMMUNO-ONCOLOGY</h2>
            </div>
            <div class="positionhome pl-4">
                <a [routerLink]="'/'" >  <img src="assets/buttons/home-btn.png" alt="Home" height="50" width="50"></a>
            </div>
        </div>
    </div>
    <ng-container [ngSwitch]="navigationHolder.currentSection">
        <ng-container *ngSwitchCase="0">
            <div class="main-content">
                <div class="row">
                    <div class="col-12">
                        <h2 class="colouroncology mb-5"><b>M9241*</b>
                            <br> (NHS-IL12) </h2>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">

                        <p class="font-weight-bold f-16 mt-3 mb-0 pl-4"> Proposed profile</p>
                        <p class="font-weight-bold pl-4"> Mechanisms of IL-12 as a tumor targeting therapy<sup>1</sup></p>
                        <ul>
                            <li>IL-12 is a potent proinflammatory cytokine produced by dendritic cells <br>and macrophages
                                that is a key mediator of the transition from innate to adaptive immunity<sup>1-4</sup>
                            </li>
                            <li>IL-12 is thought to induce differentiation of naive CD4+ T cells to the Th1 phenotype<sup>5</sup>
                            </li>
                            <li>IL-12 is thought to increase the proliferation and lytic capacity of CD8+ cytotoxic T
                                cells and NK cells<sup>6-10</sup></li>
                            <li>
                                IL-12 is thought to promote IFN-γ production via NK cells and T cells<sup>11</sup>

                                <div class="pl-2">
                                    ─ Increases the production of IP-10 and MIG, which then mediate an antiangiogenic<br>
                                    effect<sup>12,13</sup>
                                    <br> ─ Enhances antigen presentation through paracrine upregulation of MHC class I
                                    and <br>II expression<sup>14,15</sup>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <img src="assets/content/IMMUNO-ONCO/m9241-moa.png" width="600px">
                    </div>
                </div>
                <div class="col-12">
                    <div class="d-flex justify-content-center mt-4">
                        <!-- Pagination -->
                        <navigation-footer [navigationPanes]="navigationHolder"></navigation-footer>
                    </div>
                </div>
            </div>
            <div class="row pt-5 pl-4">
            <div class="col-12 needs-row-parent-pt-5-pl-4">
                <div class="d-flex justify-content-between footer-disclaimers">
                    <div class=" p-2 f-10 text-dark">
                        <app-pipeline-compounds></app-pipeline-compounds>
                        APC, antigen-presenting cell; IP-10,
                        interferon-inducible protein 10; MIG, monokine induced by interferon γ; NK, natural killer cell;
                        Tc, cytotoxic T lymphocyte; Th, T helper lymphocyte.
                        <br>1. Fallon J, et al. Oncotarget 2014;5:1869-84. 2. Trinchieri G. Nat Rev Immunol
                        2003;3:133-46. 3. Liu J, et al. Curr Immunol Rev 2005;1:119-37. 4. Heery CR, et al. ASCO SITC<br>
                        2016:Abstract 172 and poster. 5. Xu C, et al. ASCO
                        SITC 2016:Abstract 254 6. Gately MK, et al. J Immunol 1991;147:874-82. 7. Perussia B, et al. J
                        Immunol 1992;149:3495-502. 8. Wong HL, et al. Cell Immunol 1988;111:39-54. 9. Gately MK, et al.
                        Cell Immunol 1992;143:127-42. 10. Aste-<br>Amezaga
                        M, et al. Cell Immunol 1994;156:480-92. 11. Kobayashi M, et al. J Exp Med 1989;170:827-45. 12.
                        Strasly M, et al. J Immunol 2001;166:3890-9. 13. Sgadari C, et al. Blood 1996;87:3877-82. 14.
                        Wallach D, et al. Nature <br>1982;299:833-6.
                        15. Rosa F, et al. EMBO J 1983;2:1585-9.
                    </div>
                    <div class="p-2 f-10 text-dark d-flex align-items-end zinc-code">GBPMLR/MULOP/0819/0016
                        September 2019</div>
                </div>
            </div>
        </div>
        </ng-container>
        <ng-container *ngSwitchCase="1">
            <!-- Section 2 -->

            <div class="main-content">
                <div class="row">
                    <div class="col-12">
                        <h2 class="colouroncology mb-5"><b>M9241*</b>
                            <br> (NHS-IL12) </h2>
                    </div>
                    <div class="col-12">
                        <p class="font-weight-bold f-16"> Clinical trial program overview</p>
                        <ul>
                            <li>
                                M9241 (NHS-IL12) is currently being evaluated in 2 phase I studies
                            </li>
                        </ul>
                        <div class="table table-responsive">
                            <table class="table table-striped">
                                <thead class="btn-immuno text-white">
                                    <tr>
                                        <th class="ImageColumn">Enrolling</th>
                                        <th>Clinical Trial</th>
                                        <th>Line </th>
                                        <th>Phase</th>
                                        <th>M9241 Treatment</th>
                                        <th>ClinicalTrials.gov Identifier</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="bg-white">
                                        <td></td>
                                        <td colspan="5" class="font-weight-bold text-black">Solid tumors</td>
                                    </tr>
                                    <tr class="bg-light">
                                        <td class="ImageColumn"><img src="assets/indicators/study-recruiting.png" width="25" height="25">
                                        </td>
                                        <td><b>Study 110225:</b> Solid tumors </td>
                                        <td>Any</td>
                                        <td>Phase I</td>
                                        <td>Monotherapy</td>
                                        <td>NCT01417546 </td>
                                    </tr>
                                    <tr class="bg-white">
                                        <td class="ImageColumn"><img src="assets/indicators/study-recruiting.png" width="25" height="25">
                                        </td>
                                        <td><b>Study JAVELIN – IL-12</b> Solid tumors</td>
                                        <td>Any</td>
                                        <td>Phase Ib</td>
                                        <td>+ avelumab</td>
                                        <td>NCT02994953</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="d-flex justify-content-end">
                                    <img src="assets/indicators/study-recruiting.png" width="25" height="25" title="Study currently recruiting">     <span class="f-14"> &nbsp;&nbsp;   Study currently recruiting &nbsp;&nbsp; </span><img src="assets/indicators/study-closed.png" width="25" height="25" title="Study closed for enrollment">          <span class="f-14">                       &nbsp;&nbsp;          Study closed for enrollment&nbsp;&nbsp;</span>
                                </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-flex justify-content-center mt-4">
                            <navigation-footer [navigationPanes]="navigationHolder"></navigation-footer>
                        </div>
                    </div>

                    <!-- Footer -->
                   
                </div>
            </div>
            <div class="row pt-5 pl-4">
                    <div class="col-12 needs-row-parent-pt-5-pl-4">
                        <div class="d-flex justify-content-between footer-disclaimers">
                            <div class="p-2 f-10 text-dark">
                                <app-pipeline-compounds></app-pipeline-compounds>
                            </div>
                            <div class="p-2 f-10 text-dark d-flex align-items-end zinc-code">GBPMLR/MULOP/0819/0016
                                    September 2019</div>
                        </div>
                    </div>
                </div>

        </ng-container>
    </ng-container>


</div>
